{% extends 'base.html' %}
{% block content %}
        <!--Hero Area-->
        <section class="hero-area owl-carousel">
            <div class="single-hero " style="background: url('/static/assets/images/hero-3.jpg') no-repeat;">
                <div class="container">
					<div class="row">
						<div class="col">
							<div class="hero-sub">
								<div class="table-cell">
									
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="single-hero " style="background: url('/static/assets/images/hero-6.jpg') no-repeat;">
                <div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                            <div class="hero-sub">
                                <div class="table-cell">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero " style="background: url('/static/assets/images/hero-2.jpg') no-repeat;">
                <div class="hero-sub">
                    <div class="table-cell">
                        
                    </div>
                </div>
            </div>
        </section><!--/Hero Area-->

        <!--Category Section-->
     
        <!--Category Section-->
        <section class="cat-section section-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-8">
                        <div class="section-title">
                            <h2>New Arrival</h2>
                            <p>Look at our new items</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4">
                        <div class="title-right">
                            <a href="" class="bttn-small btn-fill"><i class="fa fa-angle-left"></i>Explore All</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hh-item">
                        <div class="single-cat-item">

							<img src="/static/assets/images/items/item-6.jpg" alt="">
					</div>
                        </div>

                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="hh-item">
                        <div class="single-cat-item">
							<img src="/static/assets/images/items/item-6.jpg" alt="">

                        </div>
                    </div>
			        <div class="hh-item">
			                    <div class="single-cat-item">
			        				<img src="/static/assets/images/items/item-6.jpg" alt="">

			                    </div>
			                </div>
			        <div class="hh-item">
			                    <div class="single-cat-item">
			        				<img src="/static/assets/images/items/item-6.jpg" alt="">

			                    </div>
			                </div>
			        <div class="hh-item">
			                    <div class="single-cat-item">
			        				<img src="/static/assets/images/items/item-6.jpg" alt="">

			                    </div>
			                </div>
			        
			</div>
            </div>
        </section><!--/Category Section-->

        <!--Favorite Items-->
       
        <!--Promo Area-->

{% endblock %}